{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<style>
  img {
    width: 40px;
  }
</style>
<!-- TEAM NAME AND PITCH VIEW -->
<div class="container">
  <h3 class="w3-margin">{{ users['team_name'] }}</h3>
  <div class="w3-cell w3-padding"><b>Total Points:</b> {{ users['overall_points'] }}</div>
  <div class="w3-cell w3-padding"><b>Overall Rank:</b> {{ users['overall_rank'] }}</div>

  <!-- PITCH VIEW LARGE AND SMALL########################################## -->
  <div class="container">

    <!-- pitch view -- large screens-->
    <div class="w3-display-container w3-center w3-hide-small w3-hide-medium">
      <img src="\static\img\pitch1.png" alt="" style="width:80%; height: 500px;">
    </div>

    <!-- pitch view -- medium/small screens-->
    <div class="w3-display-container w3-center w3-hide-large">
      <img src="\static\img\pitch1.png" alt="" style="width:100%">
      <div class="w3-display-topmiddle" style="width: 105%;">

        <!-- keeper -->
        <div class="btn-toolbar d-flex justify-content-center pt-5">
          <!-- player button -->
          <div class="btn" data-toggle="modal" data-target="#id{{users['p1_element']}}">
            <!-- player img -->
            <div class="container">
              {% for jersey in jerseys %}
              {% if users['p1_team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey_goal']}}" alt="img">
              {% endif %}
              {% endfor %}
            </div>
            <!-- player info -->
            <div class="container">
              <p>{{ users['p1_web_name'] }}</p>
            </div>
          </div>
        </div>

        <!-- defenders -->
        <div class="btn-toolbar d-flex justify-content-center pt-5">
          <!-- player 2 button -->
          <div class="btn" data-toggle="modal" data-target="#id{{users['p1_element']}}">
            <!-- player img -->
            <div class="container">
              {% for jersey in jerseys %}
              {% if users['p2_team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="img">
              {% endif %}
              {% endfor %}
            </div>
            <!-- player info -->
            <div class="container">
              <p>{{ users['p2_web_name'] }}</p>
            </div>
          </div>

          <!-- player 3 button -->
          <div class="btn" data-toggle="modal" data-target="#id{{users['p1_element']}}">
            <!-- player img -->
            <div class="container">
              {% for jersey in jerseys %}
              {% if users['p3_team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="img">
              {% endif %}
              {% endfor %}
            </div>
            <!-- player info -->
            <div class="container">
              <p>{{ users['p3_web_name'] }}</p>
            </div>
          </div>

          <!-- player 4 button -->
          <div class="btn" data-toggle="modal" data-target="#id{{users['p1_element']}}">
            <!-- player img -->
            <div class="container">
              {% for jersey in jerseys %}
              {% if users['p4_team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="img">
              {% endif %}
              {% endfor %}
            </div>
            <!-- player info -->
            <div class="container">
              <p>{{ users['p4_web_name'] }}</p>
            </div>
          </div>

          <!-- player 4 button -->
          <div class="btn" data-toggle="modal" data-target="#id{{users['p1_element']}}">
            <!-- player img -->
            <div class="container">
              {% for jersey in jerseys %}
              {% if users['p5_team'] == jersey['id'] %}
              <!-- jersey -->
              <img src="{{jersey['jersey']}}" alt="img">
              {% endif %}
              {% endfor %}
            </div>
            <!-- player info -->
            <div class="container">
              <p>{{ users['p5_web_name'] }}</p>
            </div>
          </div>

        </div>

        <!-- midfielders -->
        <div class="btn-toolbar d-flex justify-content-center pt-5">

        </div>

        <!-- forwardss -->
        <div class="btn-toolbar d-flex justify-content-center pt-5">

        </div>

      </div>
    </div>

</div><hr>

{% endblock %}
